.header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px 60px;
            background-color: #2c3e50;
            color: white;
        }

        .nav-links a {
            margin-right: 22px;
            text-decoration: none;
            color:white;
            font-size: 15px;
        }


        body {
            font-family: Arial;
            background: #f7f7f7;
        }

        h2 {
            margin-bottom: 20px;
            text-align: center;
        }

        .cart-container {
            max-width: 700px;
            margin: auto;
            background: white;
            padding: 20px;
            border-radius: 15px;
            box-shadow: 0 0 10px #ccc;
        }

        .cart-item {
            display: flex;
            align-items: center;
            gap: 20px;
            border-bottom: 1px solid #ddd;
            padding: 15px 0;
        }

        .cart-item img {
            width: 120px;
            height: 120px;
            object-fit: cover;
            border-radius: 10px;
        }

        .item-info h3 {
            margin: 0;
        }

        .price {
            font-size: 18px;
            font-weight: bold;
            margin-top: 5px;
        }

        .empty {
            text-align: center;
            padding: 40px;
            font-size: 20px;
            color: #555;
        }

        .total-box {
            margin-top: 20px;
            padding: 15px;
            background: #fff5d6;
            border-left: 5px solid #ffbb00;
            border-radius: 10px;
            font-size: 18px;
            font-weight: bold;
        }

        .remove-btn {
            background: red;
            color: white;
            border: none;
            padding: 8px 12px;
            border-radius: 5px;
            cursor: pointer;
        }

        .remove-btn:hover {
            background: darkred;
        }