body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background: #f7f6f9;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background-color: #2c3e50;
  color: white;
}

.header .title {
    font-size: 22px;
    font-weight: 600;
}

.nav-links a {
    margin-right: 22px;
    text-decoration: none;
    color:white;
    font-size: 15px;
}

.pdp-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 40px;
    padding: 20px;
}

.pdp-image-box {
    background: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 3px 20px #00000015;
}

.main-img {
    width: 450px;
    height: 450px;
    object-fit: cover;
    border-radius: 15px;
}

.pdp-details {
    width: 350px;
    background: white;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 3px 20px #00000015;
    height:350px ;
}

.price {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
}

.desc {
    color: #666;
    line-height: 1.5;
}

.btn-group {
    margin-top: 20px;
}

.add-cart {
    width: 100%;
    padding: 12px;
    background: black;
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
}

.wishlist {
    width: 100%;
    padding: 12px;
    background: #eee;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    cursor: pointer;
}
.thumb-box {
    display: flex;
    gap: 12px;
    margin: 15px 0;
}

.thumb {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    object-fit: cover;
    cursor: pointer;
    border: 2px solid transparent;
    transition: 0.3s;
}

